.avatarImg {
  border-radius: 50%;
  border: 0.5px solid rgb(235, 232, 232);
  padding: 3px;
}
.titleComent {
  margin-top: 18px;
  margin-left: 10px;
}
.emailIcon {
  width: 2.5%;
}
.emailStyle {
  text-decoration: none;
}
.likeDeslikeIcons {
  width: 2%;
  margin-left: 10px;
  margin-bottom: 5px;
}
